<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.whispercomm.shout"
    android:versionCode="10"
    android:versionName="10-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission-group
        android:name="org.whispercomm.shout"
        android:description="@string/permgroupdesc_Shout"
        android:label="@string/permgrouplab_Shout" />

    <permission
        android:name="org.whispercomm.shout.ACCESS_SHOUTS"
        android:description="@string/permdesc_accessShouts"
        android:label="@string/permlab_accessShouts"
        android:permissionGroup="org.whispercomm.shout"
        android:protectionLevel="dangerous" />
    <permission
        android:name="org.whispercomm.shout.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.whispercomm.shout.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Inherited from Manes Client MacLib -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="org.whispercomm.shout.ACCESS_SHOUTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".ShoutApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_textlogo"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/maps_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.ShoutActivity"
            android:theme="@style/AppTheme.ShoutActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MessageActivity"
            android:theme="@style/AppTheme.MessageActivity"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:theme="@style/AppTheme.Settings" />
        <activity android:name=".ui.DetailsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ShoutActivity" />
        </activity>
        <activity android:name=".ui.MapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DetailsActivity" />
        </activity>
        <activity
            android:name=".tutorial.TutorialActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".provider.ShoutProvider"
            android:authorities="@string/providerAuthority"
            android:permission="org.whispercomm.shout.ACCESS_SHOUTS" />
        <provider
            android:name=".provider.image.ImageProvider"
            android:authorities="org.whispercomm.shout.provider.image"
            android:permission="org.whispercomm.shout.ACCESS_SHOUTS" />

        <service
            android:name=".network.service.NetworkService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver android:name="org.whispercomm.shout.network.service.RunInBackgroundReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="org.whispercomm.shout"
                    android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Inherited from Manes Client MacLib -->
        <activity
            android:name="org.whispercomm.manes.client.maclib.ui.ManesInstaller"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
    </application>

</manifest>