<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.whispercomm.shout"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <permission-group
        android:name="org.whispercomm.shout"
        android:description="@string/permgroupdesc_Shout"
        android:label="@string/permgrouplab_Shout" />

    <permission
        android:name="org.whispercomm.shout.ACCESS_SHOUTS"
        android:description="@string/permdesc_accessShouts"
        android:label="@string/permlab_accessShouts"
        android:permissionGroup="org.whispercomm.shout"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Inherited from Manes Client MacLib -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="org.whispercomm.shout.ACCESS_SHOUTS" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".ui.ShoutActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MessageActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.DetailsActivity" />

        <provider
            android:name=".provider.ShoutProvider"
            android:authorities="@string/providerAuthority"
            android:permission="org.whispercomm.shout.ACCESS_SHOUTS" />

        <service
            android:name=".network.service.NetworkService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver android:name=".network.service.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Inherited from Manes Client MacLib -->
        <activity
            android:name="org.whispercomm.manes.client.maclib.ui.ManesInstaller"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
    </application>

</manifest>