<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.whispercomm.shout"
    android:versionCode="5"
    android:versionName="5-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <permission-group
        android:name="org.whispercomm.shout"
        android:description="@string/permgroupdesc_Shout"
        android:label="@string/permgrouplab_Shout" />

    <permission
        android:name="org.whispercomm.shout.ACCESS_SHOUTS"
        android:description="@string/permdesc_accessShouts"
        android:label="@string/permlab_accessShouts"
        android:permissionGroup="org.whispercomm.shout"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Inherited from Manes Client MacLib -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="org.whispercomm.shout.ACCESS_SHOUTS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_textlogo"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.ShoutActivity"
            android:theme="@style/AppTheme.ShoutActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MessageActivity"
            android:theme="@style/AppTheme.MessageActivity"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:theme="@style/AppTheme.Settings" />
        <activity android:name=".ui.DetailsActivity" />
        <activity
            android:name=".tutorial.TutorialActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".provider.ShoutProvider"
            android:authorities="@string/providerAuthority"
            android:permission="org.whispercomm.shout.ACCESS_SHOUTS" />

        <service
            android:name=".network.service.NetworkService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver android:name=".network.service.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Inherited from Manes Client MacLib -->
        <activity
            android:name="org.whispercomm.manes.client.maclib.ui.ManesInstaller"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
    </application>

</manifest>
